* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav {
  background-color: hsl(15, 72%, 55%);;
  color: white;
  height: 60px;
}

.nav .container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;
  align-items: center;
}

.nav .logo {
  font-size: 1.7rem;
}

.main .container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
}

.main .box {
  margin-top: 10px;
  font-size: 1.2rem;

  background-color: hsl(15, 72%, 55%);
  color: white;
  padding: 10px 20px;
}

.main .box:hover {
  cursor: pointer;
  background-color: hsl(15, 72%, 45%);
}

