* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background-color: hsl(15, 72%, 55%);;
  color: white;
  height: 100%;

  display: flex;
  align-items: center;
}

nav p {
  font-size: 1.7rem;
  margin: 1rem auto 1rem 3rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 2rem 4rem;
  max-width: 1100px;
}

main .box {
  /* font-size: 1.2rem; */
  background-color: hsl(15, 72%, 55%);
  color: white;
  padding: 10px 20px;
  border-radius: 1rem;

  display: grid;
  grid-template-columns: 1;
  align-items: center;
}

main .box:hover {
  cursor: pointer;
  background-color: hsl(15, 72%, 45%);
}

main > .box > p {
  text-align: center;
}

main > .divider {
  grid-column: span 5;
  background: #f7f7f7;
  border-radius: 1rem;
  border: 1px solid #000;
}

main > .divider > p {
  margin: 1rem;
}

