* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background-color: hsl(15, 72%, 55%);;
  color: white;
  height: 100%;

  display: flex;
  align-items: center;
}

nav p {
  font-size: 1.7rem;
  margin: 1rem auto 1rem 3rem;
}

main {
  border: 1px solid red;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  margin: 2rem auto;
  gap: 2rem;
  max-width: 1500px;
  justify-content: space-evenly;
  align-items: stretch;
}

main .box {
  /* font-size: 1.2rem; */
  background-color: hsl(15, 72%, 55%);
  color: white;
  padding: 10px 20px;
  border-radius: 1rem;

  max-width: 30rem;

  display: grid;
  grid-template-columns: 1;
  align-items: center;
}

main .box:hover {
  cursor: pointer;
  background-color: hsl(15, 72%, 45%);
}

main > .box > p {
  text-align: center;
}

main > .divider {
  grid-column: span 4;
  background: #f7f7f7;
  border-radius: 1rem;
  border: 1px solid #000;
}

main > .divider > p {
  margin: 1rem;
}

@media screen and (max-width: 1500px) {
main {
  /* background-color: #000; */
  max-width: 1200px;
  grid-template-columns: 1fr 1fr 1fr;
}
main > .divider {
  grid-column: span 3;
}
}

